<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015441262442-rv12a97e8r2nat4p2hqorglqcu8ckf1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015441262442-rv12a97e8r2nat4p2hqorglqcu8ckf1r</string>
	<key>API_KEY</key>
	<string>AIzaSyAuMrrzed_dQaSDgtwuQa8IYEDDi-q6Qwg</string>
	<key>GCM_SENDER_ID</key>
	<string>1015441262442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nidit.daysee</string>
	<key>PROJECT_ID</key>
	<string>weathersee-40c91</string>
	<key>STORAGE_BUCKET</key>
	<string>weathersee-40c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015441262442:ios:858cbab05f8ad339fe4713</string>
</dict>
</plist>